h1 {
    font-family: 'Lobster' sans-serif;
    font-size: 35px;
    color: black;
    margin-top: 0px;
}

#intro h1 {
    text-align: center;
}

html {
    background-color: #fef6d7;
}

body {
    font-family: 'Droid Sans' sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    padding: 10px;
    background-color: #fef6d7;
    clear: both;
}

#footer {
    padding: 10px;
    text-align: center;
    background-color: #fef6d7;
}

#wood-wrapper {
    background: url("../images/woodgrain.jpg");
    margin: 0px;
}

.wood-content {
    max-width: 900px;
    margin: auto;
}

.top-gradient {
    height: 20px;
    background: url("../images/top-gradient.png");
}

.bottom-gradient {
    height: 20px;
    background: url("../images/bottom-gradient.png");
}

#intro {
    margin-top: 30px;
    background-color: white;
    padding: 25px 40px 25px 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#toggles-container {
    width: 800px;
    margin: auto;
    padding: 0px;
}

a {
    color: #b02b3e;
    pointer: hand;
}

.toggle {
    height: 190px;
    width: 90px;
    background: url("../images/toggle_off.png") bottom no-repeat;
    margin: 20px 33px 20px 33px;
    display: inline-block;
    text-align: center;
}

.toggled-on {
    background: url("../images/toggle_on.png") bottom no-repeat;
}

.clearfix:after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hide these rules from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
li.clearfix {
	display: list-item;
}