{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.toggle').on('click', function(){
      $(this).toggleClass("toggled-on");
    });
  });
</script>


<div id="wood-wrapper">
  <div class="top-gradient"></div>
  <div class="wood-content">
    <div id="toggles-container">
    <div class="toggle"><img class="label" src="../static/images/love.png"></div>
    <div class="toggle"><img class="label" src="../static/images/build.png"></div>
    <div class="toggle"><img class="label" src="../static/images/move.png"></div>
    <div class="toggle"><img class="label" src="../static/images/learn.png"></div>
    <div class="toggle"><img class="label" src="../static/images/help.png"></div>
      </div>
    <div id="intro">
      <h1>Welcome to Switch.</h1>
      <p style="text-align: center;">Switch encourages you to live actively without bogging you down with a detailed to-do list.</p>
      <p style="text-align: center;"><a id="intro_learn_more">Learn more</a></p>

    </div>
  </div>
  <div class="bottom-gradient"></div>
</div>
{% endblock %}